<footer>
    <div >
        <p class="copyright pull-left">
            <img src="/assets/img/logotipo_republicaportuguesa.svg" alt="rp" height="35px;" width="100px;"> 
            <img src="/assets/img/logo_sns.svg" alt="sns" height="35px;" width="100px;">
            <img src="/assets/img/logotipo_ACSS.svg" alt="acss" height="35px;" width="100px;"> 
        </p>
        <p class="copyright pull-right">
            <small> &copy; {{dtatual | date: 'yyyy'}} Serviços Partilhados do Ministério da Saúde, EPE </small>
            <img src="/assets/img/logotipo_spms.svg" alt="spms" height="35px;" width="100px;"> 
        </p>
        <div class="clearfix"></div>
    </div>
</footer>
