<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="false">
    <ul class="nav navbar-nav side-nav">
        <li >
            <a routerLink="/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a routerLink="/administracao"><i class="fa fa-fw fa-cogs"></i> Administração</a>
        </li>
        <li>
            <a routerLink="/trabalhadores"><i class="fa fa-fw fa-user-md"></i> Trabalhadores</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-users"></i> Prestadores</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-edit"></i> Vencimentos</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-calendar"></i> Absentismo</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-database"></i> Processamento</a>
        </li>
        <li>
            <a href=""><i class="fa fa-fw fa-external-link"></i> Ligações Externas</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
            <ul id="demo" class="collapse">
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
                <li>
                    <a href="#">Dropdown Item</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<!-- /.navbar-collapse -->